/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:400,700);

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #000;
    font-family: 'Open Sans', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a{
    text-decoration: none;
    color: #fff;
}

#pixels{
    color: #48941A;
}

.float-left{
    float: left;    
    margin: 0 0 0 20px;
}

.float-right{
    float: right;
    margin: 0 20px 0 0;
}

.center{
    font-size: 2.5em;
    padding: 80px 0 0 0;
    text-align: center;
}

.container{
    width: 100%;
}

#intro, #about{
    width: 100%;
}

#intro{
    background:url(../img/home-1.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    color: white;
    height: 1300px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#intro .overlay {
    background: #000;
    width: 100%;
    height: 1300px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
#intro .magic{
    background: url(../img/beyond-creative.png) 50% 50% no-repeat fixed;
    background-size: 40%;
    height: 1300px;
    margin: 0 auto;
    padding: 200px 0 0 0;
    width: 100%;
    z-index: 200;
    display: none;
    position: absolute;
}
/*#intro .findout{
    background: url(../img/findout.png) 50% 100% no-repeat fixed;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    z-index: 200;
    position: absolute;
    top: 0;
    display: none;
}*/
.findout{
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -56px;
    width: 113px;
    height: 57px;
}
.findout a{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1em;
    width: 113px;
    height: 57px;
}
.findout a span {
    position: absolute;
    width: 113px;
    height: 57px;
    left: 0;
    top: 0;
}
.findout a .why{
    background: url(../img/findout.png) 50% 100% no-repeat;
}
.findouthow a{
    color: #fff;
    
}
.findout a .how{
    background: url(../img/findout.png) 50% 100% no-repeat;
}
.findout a .who{
    background: url(../img/findoutwho.png) 50% 100% no-repeat;
}
.findouthow, 
.findoutwho {
    display: none;
}


/* -- ABOUT -- */
#about{
    /*background: url(../img/secondBG.jpg) 50% 0 no-repeat fixed;*/
    color: white;
    height: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#about .bg{
    /*background: url(../img/trainers.png) 50% 0 no-repeat fixed;*/
    height: 1300px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 900px;
    z-index: 200;
}
.three-columns{

}
.three-columns > div{
    width: 33.33333%;
    float: left;
    height: 100%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    cursor: pointer;
}
.three-columns > div h2{
    text-align: center;
    margin-top: 200px;
    font-size: 40px;
}
.three-columns > div.active{
    width: 88%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    cursor: auto;
}
.three-columns > div.standby{
    width: 6%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.three-columns > div.active h2{
    float: left;
    margin-left: 10%;
}
.three-columns > div.active .about-text{
    display: block;
}
.three-columns > div.standby h2{
    font-size: 14px;
}
.three-columns > div:hover:not(.active){
    -webkit-box-shadow: inset 0px 0px 150px 140px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0px 0px 150px 140px rgba(0,0,0,.5);
    box-shadow: inset 0px 0px 150px 140px rgba(0,0,0,.5);
}
#history{
    background: url(../img/history.jpg) 0 0 no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
#history h2{
    color: #000;
}
#process{
    background: url(../img/process.jpg) 0 0 no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
#services{
    background: url(../img/services.jpg) 0 0 no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
#services h2{
    color: #000;
}

.about-text{
    display: none;
    float: right;
    width: 65%;
    margin: 40px 3em 0 0;
}
.light-box{
    font-size: .8em;
    color: #000;
    padding: 2em;
    background: white;
    background: rgba(255,255,255,0.8);
}
.light-box p:first-child{
    margin-top: 0;
}
.four-boxes{
    overflow: hidden;
}
.about-text.four-boxes{
    margin-top: 150px;
}
.box {
    float: left;
    width: 48%;
    min-height: 310px;
    background: #000;
    background: rgba(0,0,0,.8);
    margin: 0% 1% 1em 1%;
}
.box h3 {
    font-size: 1.3em;
    margin: 10px 10px 3px;
    font-weight: normal;
}
.box p, .box blockquote, .box li {
    font-size: .8em;
    margin: 5px 0;
}
.box blockquote{
    margin: 1em 0 1em 20px;
}
.box-copy{
    padding: 0 20px 0;
    overflow: hidden;
}
.box-copy p:first-child{
    margin-top: 0;
}
#history .about-text,
#services .about-text{
    margin-top: 150px;
}

#team{
    background: url(../img/team-bg.jpg) 50% 50% no-repeat fixed;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    color: #fff;
    height: 900px;
    padding: 0;   
}
#team .story{
    display: table;
}
#team h2{
    margin-bottom: 0px;
    margin-top: 0;
}
#team h5{
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 1.1em;
}
.team-copy{
    color: #000;
    margin: 0 auto;
    display: table-cell;
vertical-align: middle;
}
.team-copy p {
    font-size: .8em;
}
.team-copy img{
    float: left;
    margin-right: 20px;
}
.team-copy-container{
    display: block;
    overflow: hidden;
}
.team-box{
    width: 46%;
    margin: 1%;
    padding: 1%;
    float: left;
    background: #fff;
    background: rgba(255,255,255,.5);
}

#portfolio{
    background: #fafafa;
    color: white;
    height: 1300px;
}
#contact{
    background: url(../img/contact-bg.jpg) 50% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
    color: white;
    height: 900px;
    padding: 50px 0 0 0; 
}
#message-sent{display: none;}

.story{
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.story .float-left, .story .float-right{
    padding: 100px 0 0 0;
    position: relative;
    width: 350px;   
}



#header {
    position: fixed;
    /*width: 233px;*/
    width: 15%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
    background-image: url(../img/header-bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    
    z-index: 9999;
    left: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#header.closed{
    left: -400px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#header.mini{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    /*width: 158px;*/
    width: 11.4%;
}
#header.mini a {
}
#header .brand img {
    max-width: 75%;
}
#header.mini .brand img{
    width: 80%;
}
#nav{
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 50%;
    margin-top: -65px;
}
#nav li{
    margin: 0; 
    text-align: center;
    line-height: 2em;
    font-size: 1.2em;
}
#nav li a.active{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}
.brand {
    margin: 1em 0;
    text-align: center;
}


/*  -- PORTFOLIO -- */
.three-rows{
    background: white;
}
.three-rows article{
    float: left;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.three-rows article h3{
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    margin: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(100,100,100,.5);
    font-size: .9em;
    font-weight: normal;
}
.three-rows article h3 span{
    display: table-cell;
    vertical-align: middle;
}
.three-rows article:hover h3{
    opacity: 1;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.three-rows article:hover .logo{
    display: none;
}
.row {
    margin-bottom: 1%;
    width: 100%;
}
.three-rows .row-large{
    height: 35%;
}
.three-rows .row-large article{
    width: 49%;
}
.three-rows .row-large article.a{
    margin-right: 1%;
}
.three-rows .row-large article.c{
    margin-left: 1%;
}
.three-rows .row-small{
    height: 28%;
}
.three-rows .row-small article{
    width: 32%;
}
.three-rows .row-small article.a{
    margin-right: 1%;
}
.three-rows .row-small article.b{
    margin: 0 1%;
}
.three-rows .row-small article.c{
    margin-left: 1%;
}

#acana{ background-image: url(../img/acana.jpg); }
#westcoast{ background-image: url(../img/westcoast.jpg); }
#arris{ background-image: url(../img/arris.jpg); }
#lucky{ background-image: url(../img/lucky.jpg); }
#cielo{ background-image: url(../img/cielo.jpg); }
#crossing{ background-image: url(../img/crossing.jpg); }
#views{ background-image: url(../img/views.jpg); }

.logo{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#acana .logo{ background-image: url(../img/acana-logo.png); }
#westcoast .logo{ background-image: url(../img/westcoast-logo.png); }
#arris .logo{ background-image: url(../img/arris-logo.png); }
#lucky .logo{ background-image: url(../img/lucky-logo.png); }
#cielo .logo{ background-image: url(../img/cielo-logo.png); }
#crossing .logo{ background-image: url(../img/crossing-logo.png); }
#views .logo{ background-image: url(../img/views-logo.png); }


.portfolio-element{
    background: #fff;
    display: none;
    position: absolute;
}
.portfolio-article-hero{
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.portfolio-article-hero .content-container{
    height: 100%;
}
.portfolio-logo{
    display: none;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}
.portfolio-article-hero h2{
    text-align: center;
    margin-top: -70px;
}
.portfolio-article-hero h2 a{
    background: url(../img/findout.png) 50% 100% no-repeat;
    color: #fff;
    padding-bottom: 1em;
}
.portfolio-element > .content-container{
    padding: 30px 0;
    color: #000;
}

.content-container .row{
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.content-container .row h4{
    color: #000;
    text-transform: lowercase;
}
.content-container .rowrow{
    margin-bottom: 40px
}
.span2{
    width: 49%;
    float: left;
    margin-left: 2%;
}
.span2.a{
    margin-left: 0;
    text-align: right;
}
.span2 img{
    max-width: 100%;
}
.span2 img + img {
    margin-top: 20px;
}

.close-btn{
    width: 83px;
    height: 84px;
    position: fixed;
    top: 20px;
    right: 20px;
    background: url(../img/close.png) 0 0 no-repeat;
    text-indent: -9999px;
    
}
.portfolio-element a.fancy{
    display: block;
    border: 4px solid #fff;
}
.portfolio-element a.fancy:hover{
    border: 4px solid #855FA8;
}


.four-boxes-2{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.boxx {
    background: #3d3d3d;
    float: left;
    width: 46%;
    min-height: 360px;

    padding: 1%;
    margin: 0 1%;

    font-family: 'Roboto Condensed', sans-serif;
}
.boxx h2{
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    float: left;
}
.box-ex{
    float: right;
    font-style: italic;
    font-size: .7em;
}
#contact-form{
    margin-top: 10px;
}
#contact-form input,
#contact-form textarea{
    -webkit-border-radius: 6px;
    border-radius: 6px;

    background: #a3a4a4; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzYTRhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a3a4a4 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3a4a4), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a3a4a4 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a3a4a4 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a3a4a4 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a3a4a4 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a4a4', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */

    padding: 7px 5px;
    border: 0;
}
input[name="name"]{
    width: 50%;
}
input[name="email"]{
    width: 60%;
}
#contact-form input{
    float: left;
    margin-bottom: 10px;
    clear: both;
}
#contact-form textarea{
    width: 97%;
    height: 200px;
}
#contact-form button{
    font-size: 1em;
    margin-top: 10px;
}
.boxx img{
    width: 100%;
}
.boxx img + img{
    margin-top: 10px;
}

/* all */
::-webkit-input-placeholder { color:#666; font-size: .8em }
::-moz-placeholder { color:#666; font-size: .8em } /* firefox 19+ */
:-ms-input-placeholder { color:#666; font-size: .8em } /* ie */
input:-moz-placeholder { color:#666; font-size: .8em }


.social {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.social a {
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url(../img/socialsprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 2px 5px 0;
}
.social a.facebook { background-position: 0 0; }
.social a.twitter { background-position: -30px 0; }
.social a.linkedin { background-position: -60px 0; }
.social a.vimeo { background-position: -90px 0; }

.social a.facebook:hover { background-position: 0 -30px; }
.social a.twitter:hover { background-position: -30px -30px; }
.social a.linkedin:hover { background-position: -60px -30px; }
.social a.vimeo:hover { background-position: -90px -30px; }


/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../img/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../img/blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}


/* Twitter */
.twitter-timeline{
    position: absolute;
    right: 20px;
    top: 1300px;
    background: rgba(0,0,0,.7);
    width: 300px;
    padding: 10px;
    height: 280px;
}
.twitter-timeline h2{
    text-align: right;
    font-size: 1.3em;
    margin: 0;
}
#tweets{
    background: rgba(255,255,255,0.9);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 255px;
}
.mk-stream{
    margin: 0;
    padding: 5px;
    list-style: none;
}
.mk-stream li{
    color: #333;
    font-size: 12px;
    clear: both;
    margin: 5px 0;
    overflow: hidden;
}
.mk-stream li p{
    margin: 0;
    margin-left: 77px;
}
.mk-stream li a {
    color: #000;
}
.mk-stream-time{
    float: left;
    width: 70px;
    font-size: 1.2em;
}
.mk-stream-time.icon-twitter:before{
    font-size: 1.2em;
    display: block;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}